@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// GOOGLE FONTS INTER 300 ~ 800
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid v.$color-tertiary;

  &:not(:focus-visible) {
    outline: none;
  }
}

*:focus-visible {
  outline: 2px solid v.$color-tertiary;
  border-radius: 2px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;

  background-color: v.$color-black;

  scroll-behavior: smooth;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  max-width: 80rem; // 1280px
}

// section {
//   // flex: 1;
//   padding-inline: 1.625rem;
// }

// buttons
a {
  text-decoration: none;
  border: none;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  width: 100%;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.625rem;
}

.btn--orange {
  display: inline-block;
  position: relative;

  overflow: hidden;
  transition: background-color 0.2s ease;
  backface-visibility: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: v.$color-primary;
    border-radius: 5px;
    z-index: -2;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;

    background-color: darken(v.$color-primary, 10%);
    border-radius: 5px;
    transition: all 0.2s;
    z-index: -1;
  }

  &:hover,
  &:active {
    &:before {
      width: 100%;
    }
  }
}
