@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/////////////////////////////////////////
/// BASE
body {
  // color: v.$color-gray-light;
  font-family: "Inter", sans-serif;
  font-size: v.$font-s-xs;
  font-weight: v.$font-w-m;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

p {
  @include m.respondMin(v.$laptop-2) {
    font-size: v.$font-s-xs-2;
  }
}

.heading-primary {
  font-size: v.$font-s-xl;
  font-weight: v.$font-w-xl;
  line-height: 1.2;

  @include m.respondMax(v.$mobile-s) {
    font-size: v.$font-s-l;
  }

  @include m.respondMin(v.$laptop-xl) {
    font-size: v.$font-s-2xl;
  }
}

.heading-secondary {
  font-size: v.$font-s-l;
  font-weight: v.$font-w-xl;
  line-height: 1.25;
}

.heading-tertiary {
  font-size: v.$font-s-m;
  font-weight: v.$font-w-xl;
  line-height: 1.6;

  @include m.respondMin(v.$laptop) {
    font-size: v.$font-s-l;
  }
}

.heading-quarternary {
  font-size: v.$font-s-m;
  font-weight: v.$font-w-l;
}

// buttons
.btn {
  color: v.$color-white;
  font-size: v.$font-s-xs;
  font-weight: v.$font-w-xl;
  line-height: 2;
  text-align: center;
}

.btn--underlined {
  color: v.$color-gray-dark;
  font-size: v.$font-s-xs;
  font-weight: v.$font-w-m;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.btn--detail {
  color: v.$color-gray-dark;
  font-size: v.$font-s-xs;

  &:hover,
  &:active {
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}

// input related elements
input,
label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input {
  text-indent: v.$font-s-xs;
  border: none;
  background-color: v.$color-input-bg;

  &::placeholder {
    color: v.$color-gray-light;
    font-family: inherit;
    font-size: inherit;
    font-weight: v.$font-w-s;
  }
}

// error
.error-heading {
  color: v.$color-tertiary;
  font-size: v.$font-s-l;
  text-align: center;
}

/////////////////////////////////////////
/// HEADER
.btn-logo {
  color: v.$color-white;
  font-size: v.$font-s-s;
}

.logo-icon {
  color: v.$color-primary;
  font-size: v.$font-s-m;
}

// mobile nav

.menu-icon {
  color: v.$color-white;
  font-size: v.$font-s-m;
}

.mobile-nav-link {
  div {
    color: v.$color-white;
    font-size: v.$font-s-m;
  }

  &:hover,
  &--active {
    div {
      color: v.$color-black;
    }
  }
}

// desktop nav
.desktop-nav {
  .mobile-nav-link {
    div {
      font-size: v.$font-s-s;
    }
  }
}

.login-icon,
.logout-icon {
  color: v.$color-white;
  font-size: v.$font-s-m;
}

/////////////////////////////////////////
/// HOME PAGE
.home {
  .paragraph {
    font-weight: v.$font-w-xs;
  }
}

// hero
.hero {
  color: v.$color-white;
}

// about
.about {
  color: v.$color-black;

  &__info {
    text-align: left;

    .paragraph {
      color: v.$color-gray-dark;
      font-weight: v.$font-w-m;
      line-height: 1.4;
    }
  }
}

.cta {
  .heading-tertiary {
    color: v.$color-white;
  }
}

// features
.feature-icon {
  font-size: v.$font-s-2xl;
}

// testimonial
.testimonial {
  &__review {
    .summary {
      font-weight: v.$font-w-s;
    }

    .customer-name {
      font-size: v.$font-s-s;
      letter-spacing: 2px;
    }
  }

  .btn--left i,
  .btn--right i {
    font-size: v.$font-s-xl;
    color: v.$color-primary;
  }
}

// signup
.signup {
  color: v.$color-white;

  &__form {
    input {
      color: v.$color-black;
    }
  }
}

/////////////////////////////////////////
/// VANS PAGE
.vans-heading-primary {
  font-size: v.$font-s-l;

  @include m.respondMin(v.$laptop-m) {
    .vans-heading-primary {
      font-size: v.$font-s-xl;
    }
  }

  @include m.respondMin(v.$laptop-l) {
    .vans-heading-primary {
      font-size: v.$font-s-2xl;
    }
  }
}

.vans-heading-secondary {
  font-size: v.$font-s-xs-2;

  @include m.respondMin(v.$laptop) {
    .vans-heading-secondary {
      font-size: v.$font-s-s;
    }
  }

  @include m.respondMin(v.$laptop-m) {
    .vans-heading-secondary {
      font-size: v.$font-s-m;
    }
  }

  @include m.respondMin(v.$laptop-l) {
    .vans-heading-secondary {
      font-size: v.$font-s-l;
    }
  }

  @include m.respondMin(v.$laptop-xl) {
    .vans-heading-secondary {
      font-size: v.$font-s-xl;
    }
  }
}

.van-tile {
  &__link {
    color: v.$color-black;
  }

  &__info {
    text-align: center;

    .paragraph {
      color: v.$color-gray-dark;
      font-size: v.$font-s-2xs;
    }
  }

  @include m.respondMin(v.$laptop-m) {
    &__info {
      .paragraph {
        font-size: v.$font-s-xs;
      }
    }
  }

  @include m.respondMin(v.$laptop-l) {
    &__info {
      .paragraph {
        font-size: v.$font-s-s;
      }
    }
  }

  @include m.respondMin(v.$laptop-xl) {
    &__info {
      .paragraph {
        font-size: v.$font-s-m;
      }
    }
  }
}

.btn--filter {
  @include m.respondMin(v.$laptop) {
    font-size: v.$font-s-s;
  }

  @include m.respondMin(v.$laptop-m) {
    font-size: v.$font-s-m;
  }
}

.btn--van-type {
  text-align: center;
  color: v.$color-black;

  @include m.respondMin(v.$laptop) {
    font-size: v.$font-s-s;
  }

  @include m.respondMin(v.$laptop-m) {
    font-size: v.$font-s-m;
  }
}

/////////////////////////////////////////
/// HOST PAGES
.host-navbar {
  // font-size: v.$font-s-s;

  .btn--underlined {
    // font-size: v.$font-s-s;
    font-weight: v.$font-w-xl;
  }
}

/////////////////////////////////////////
/// LOGIN PAGE
.redirect-message,
.error-message {
  color: v.$color-tertiary;
  font-size: v.$font-s-xs;
  font-weight: v.$font-w-l;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.login {
  .signup {
    color: v.$color-black;
    text-align: center;

    a {
      color: v.$color-primary;
      font-weight: v.$font-w-l;
    }
  }
}

/////////////////////////////////////////
/// FOOTER
.footer {
  color: v.$color-gray-light;
  text-align: center;
}

.copyright {
  color: inherit;
  font-size: v.$font-s-2xs;
  font-weight: inherit;
  line-height: 1.64;
  text-transform: uppercase;
}
