///// FONT
/// FONT SIZE + SPACING
$font-s-2xs: 0.875rem;
$font-s-xs: 1rem;
$font-s-s: 1.25rem;
$font-s-m: 1.5rem;
$font-s-l: 2rem;
$font-s-xl: 2.25rem;
$font-s-2xl: 3rem;

/// FONT WEIGHT
$font-w-xs: 300;
$font-w-s: 400;
$font-w-m: 500;
$font-w-l: 600;
$font-w-xl: 700;
$font-w-2xl: 800;

///// COLOR
$color-black: #0f0e17;
$color-white: #fffffe;

$color-gray-dark: #2e2f3e;
$color-gray-light: #a7a9be;

$color-primary: #ff8906;
$color-secondary: #f25f4c;
$color-tertiary: #e53170;

// MEDIA QUERIES
$mobile-s: 375px;
$tablet: 656px;
$laptop: 768px;
