///// FONT
/// FONT SIZE + SPACING
$font-s-3xs: 0.8rem;
$font-s-2xs: 0.875rem;
$font-s-xs: 1rem;
$font-s-xs-2: 1.1rem;
$font-s-s: 1.25rem;
$font-s-m: 1.5rem;
$font-s-l: 2rem;
$font-s-xl: 2.25rem;
$font-s-2xl: 3rem;

/// FONT WEIGHT
$font-w-xs: 300;
$font-w-s: 400;
$font-w-m: 500;
$font-w-l: 600;
$font-w-xl: 700;
$font-w-2xl: 800;

///// COLOR
// $color-black: #0f0e17;
$color-text-main: #272343;
$color-text-sub: #2d334a;
$color-white: #fffffe;

// $color-gray-dark: #2e2f3e;
// $color-gray-light: #a7a9be;

// $color-primary: #ff8906;
$color-primary: #ffd803;
$color-secondary: #e3f6f5;
$color-tertiary: #bae8e8;
// $color-primary-light-1: #ffdcb4;
// $color-primary-light-2: #ffe7cd;
// $color-primary-light-3: #fff3e6;
// $color-secondary: #f25f4c;
// $color-tertiary: #e53170;

// $color-input-bg: #fff;

$color-simple: #94c4f2;
$color-rugged: #a2dcaa;
$color-luxury: #ffee8b;

$color-outline: #0000ff;
$color-error: #ff0000;

// MEDIA QUERIES
$mobile-s: 374px;
$mobile-l: 425px;
$tablet: 656px;
$laptop: 768px;
$laptop-2: 848px;
$laptop-m: 1024px;
$laptop-l: 1280px;
$laptop-xl: 1440px;
$laptop-2xl: 1920px;
