@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/* EARNINGS */
.host-dashboard {
  display: flex;
  flex-direction: column;

  &__earnings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: v.$color-secondary;
    border-radius: 5px;

    &-grid {
      width: 100%;

      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: space-between;

      padding-block: 2.5rem;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        color: v.$color-text-sub;

        span {
          text-decoration: underline;
          text-underline-offset: 3px;
          font-weight: 700;
        }
      }
    }
  }

  &__reviews {
    background-color: v.$color-white;

    &-grid {
      width: 100%;

      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: space-between;

      padding-block: 2.5rem;
    }

    .review-score {
      width: fit-content;

      display: flex;
      align-items: center;

      .icon-star {
        margin-right: 5px;
      }
    }
  }

  &__vans {
    background-color: v.$color-secondary;

    &-box {
      padding-block: 2.5rem 8rem;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      .btn--detail {
        width: fit-content;
      }
    }
  }
}

// .hostvans-list {
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
// }

// .hostvan-tile {
//   background-color: v.$color-white;
//   border-radius: 5px;

//   display: flex;
//   flex-direction: column;

//   padding: 1.5rem;

//   &__img {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     margin-bottom: 1rem;

//     img {
//       width: 100%;
//       border-radius: 5px;
//     }
//   }

//   &__detail {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     margin-bottom: 1rem;
//   }
// }
