@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.login {
  margin-top: 4rem;

  &__form {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid #d1d5db;
      height: 2.625rem;
      text-indent: 16px;
      font-family: "Inter", sans-serif;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      font-weight: 400;

      &:focus {
        outline: none;
      }

      &:first-of-type {
        border-radius: 6px 6px 0px 0px;
      }

      &:last-of-type {
        border-radius: 0px 0px 6px 6px;
        border-top: none;
      }

      &::placeholder {
        font-family: inherit;
        line-height: inherit;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    button {
      margin-top: 2rem;
    }
  }
}
