@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #e53170;
}
*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #e53170;
  border-radius: 2px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  background-color: #fffffe;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  width: 100%;
}

a {
  width: 100%;
  text-decoration: none;
  border: none;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.btn--orange {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  backface-visibility: hidden;
  z-index: 1;
}
.btn--orange:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff8906;
  border-radius: 5px;
  z-index: -2;
}
.btn--orange:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d26e00;
  border-radius: 5px;
  transition: all 0.2s;
  z-index: -1;
}
.btn--orange:hover:before, .btn--orange:active:before {
  width: 100%;
}

.btn--black {
  background-color: #0f0e17;
}

input,
label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input {
  border: none;
}
input::placeholder {
  color: #a7a9be;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

@media screen and (min-width: 53em) {
  p {
    font-size: 1.1rem;
  }
}

.heading-primary {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 23.375em) {
  .heading-primary {
    font-size: 2rem;
  }
}
@media screen and (min-width: 90em) {
  .heading-primary {
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 48em) {
  .heading-tertiary {
    font-size: 2rem;
  }
}

.heading-quarternary {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  color: #fffffe;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}

.btn-logo {
  color: #fffffe;
  font-size: 1.25rem;
}

.logo-icon {
  color: #ff8906;
  font-size: 1.5rem;
}

.menu-icon {
  color: #fffffe;
  font-size: 1.5rem;
}

.mobile-nav-link div {
  color: #fffffe;
  font-size: 1.5rem;
}
.mobile-nav-link:hover div, .mobile-nav-link--active div {
  color: #0f0e17;
}

.desktop-nav .mobile-nav-link div {
  font-size: 1.25rem;
}

.login-icon,
.logout-icon {
  color: #fffffe;
  font-size: 1.5rem;
}

.home .paragraph {
  font-weight: 300;
}

.hero {
  color: #fffffe;
}

.about {
  color: #0f0e17;
}
.about__info {
  text-align: left;
}
.about__info .paragraph {
  color: #2e2f3e;
  font-weight: 500;
  line-height: 1.4;
}

.cta .heading-tertiary {
  color: #fffffe;
}

.feature-icon {
  font-size: 3rem;
}

.testimonial__review .summary {
  font-weight: 400;
}
.testimonial__review .customer-name {
  font-size: 1.25rem;
  letter-spacing: 2px;
}
.testimonial .btn--left i,
.testimonial .btn--right i {
  font-size: 2.25rem;
  color: #ff8906;
}

.footer {
  color: #a7a9be;
  text-align: center;
}

.copyright {
  color: inherit;
  font-size: 0.875rem;
  font-weight: inherit;
  line-height: 1.64;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.app-padding-inline-default {
  padding-inline: 7%;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-bottom-s {
  margin-bottom: 1.5rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-l {
  margin-bottom: 3rem;
}

.margin-bottom-xl {
  margin-bottom: 4rem;
}

.margin-bottom-2xl {
  margin-bottom: 8rem;
}

.center-hori {
  margin: 0 auto;
}

.max-width {
  width: 100%;
  max-width: 80rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__img-container {
  width: 100vw;
  height: 30rem;
  overflow: hidden;
}
.about__img {
  width: 100%;
  height: 100%;
}
.about__info-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto 1fr;
  row-gap: 3rem;
}
.about__info-detail .paragraph:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.about__info-detail .paragraph:last-child {
  grid-column: 1/2;
  grid-row: 3/4;
}
.about__info-img-container {
  width: 100%;
  display: flex;
}
.about__info-img-container-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.about__info-img-container-2 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.about__info-img-container img {
  width: 100%;
  max-width: 31.25rem;
  border-radius: 5px;
}
@media screen and (min-width: 48em) {
  .about__info-detail {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 1.5rem;
    margin-bottom: 4rem;
  }
  .about__info-detail .paragraph:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .about__info-detail .paragraph:last-child {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .about__info-img-container {
    grid-row: 2/3;
  }
  .about__info-img-container-1 {
    grid-column: 1/2;
    justify-content: right;
  }
  .about__info-img-container-2 {
    grid-column: 2/3;
  }
}

.cta__content {
  background: #0f0e17;
  border-radius: 5px;
  padding: 2rem;
}
@media screen and (min-width: 48em) {
  .cta__content {
    background-color: transparent;
    background-image: linear-gradient(105deg, rgba(15, 14, 23, 0.8) 0 69.9%, rgba(15, 14, 23, 0.3) 70% 100%), url("https://source.unsplash.com/5dyRmbOo-UQ");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5rem 2rem;
  }
  .cta .btn {
    width: 15rem;
  }
}
@media screen and (min-width: 53em) {
  .cta__content {
    background-image: linear-gradient(105deg, rgba(15, 14, 23, 0.8) 0 64.9%, rgba(15, 14, 23, 0.3) 65% 100%), url("https://source.unsplash.com/5dyRmbOo-UQ");
  }
}
@media screen and (min-width: 64em) {
  .cta__content {
    background-image: linear-gradient(105deg, rgba(15, 14, 23, 0.8) 0 54.9%, rgba(15, 14, 23, 0.3) 55% 100%), url("https://source.unsplash.com/5dyRmbOo-UQ");
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 80em) {
  .cta__content {
    background-image: linear-gradient(105deg, rgba(15, 14, 23, 0.8) 0 49.9%, rgba(15, 14, 23, 0.3) 50% 100%), url("https://source.unsplash.com/5dyRmbOo-UQ");
    padding: 3.5rem 4rem;
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 8px solid;
  border-color: #ff8906 transparent #ff8906 transparent;
  margin-top: 8rem;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.features__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
}
@media screen and (min-width: 80em) {
  .features__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: none;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 80em) {
  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem auto;
  }
  .feature__title {
    max-width: 18.75rem;
  }
  .feature__detail {
    margin-top: 1rem;
  }
}

.footer {
  width: 100%;
  background-color: #0f0e17;
  padding-block: 1.6rem;
}

.header {
  width: 100%;
  height: 6.25rem;
  position: fixed;
  top: 0;
  background-color: #0f0e17;
  box-shadow: 0 0.15rem 0.3rem rgba(15, 14, 23, 0.15);
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.25rem;
}

.btn-logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
}

.mobile-nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
}

.mobile-nav {
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 6.25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(15, 14, 23, 0.8);
  backdrop-filter: blur(6px);
  border-right: none;
  transition: transform 0.2s ease-out;
  backface-visibility: hidden;
  z-index: 1000;
}
.mobile-nav--open {
  transform: translateX(0);
}
.mobile-nav--closed {
  transform: translateX(100%);
}

.mobile-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-nav-link div {
  width: fit-content;
  position: relative;
  padding: 0rem 2rem;
  transition: all 0.15s ease;
}
.mobile-nav-link div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
}
.mobile-nav-link:hover div::after, .mobile-nav-link--active div::after {
  clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  background-color: #ff8906;
  z-index: -1;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.desktop-nav .mobile-nav-link div {
  padding: 0 1rem;
}

.login-icon,
.logout-icon {
  padding: 0 0.5rem;
}

.hero {
  width: 100vw;
  height: calc(100vh - 6.25rem);
  position: relative;
  overflow: hidden;
}
.hero__bg-img {
  object-fit: cover;
  object-position: 30% 50%;
  transform: scale(1.45);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.7);
  z-index: -1;
}
.hero__title {
  max-width: 30rem;
  margin-top: 4rem;
  margin-right: auto;
}
@media screen and (max-width: 23.375em) {
  .hero__bg-img {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 48em) {
  .hero__bg-img {
    object-position: 50% 68%;
    transform: scale(1.25);
  }
  .hero .btn {
    width: 25rem;
  }
}
@media screen and (min-width: 64em) {
  .hero__title {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 80em) {
  .hero__title {
    max-width: 40rem;
  }
}

.page-not-found {
  text-align: center;
  margin-top: 4rem;
}
.page-not-found__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-not-found a {
  max-width: 20rem;
}

.signup__content {
  background-color: #ff8906;
  border-radius: 5px;
  padding: 2rem;
}
.signup__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup__form-group {
  display: flex;
  flex-direction: column;
}
.signup__form-group-radio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.testimonial__content {
  position: relative;
}
.testimonial__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding: 3rem 1.5rem;
}
.testimonial__item {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 2rem;
}
.testimonial__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.testimonial__review i {
  padding-inline: 5px;
}
.testimonial__review .summary {
  height: 6.25rem;
}
.testimonial__review hr {
  border: 1px solid #ff8906;
}
.testimonial button {
  cursor: pointer;
  transition: transform 0.15s ease;
}
.testimonial .btn--left {
  grid-column: 1/2;
  grid-row: 2/3;
}
.testimonial .btn--right {
  grid-column: 2/3;
  grid-row: 2/3;
}
.testimonial .btn--left:hover,
.testimonial .btn--left:active {
  transform: translateX(-5px);
}
.testimonial .btn--right:hover,
.testimonial .btn--right:active {
  transform: translateX(5px);
}
@media screen and (min-width: 26.5625em) {
  .testimonial__text {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    padding: 5rem 1.5rem;
  }
  .testimonial__review .summary {
    margin-bottom: 1rem;
  }
  .testimonial__item {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 0;
  }
  .testimonial .btn--left {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .testimonial .btn--right {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
@media screen and (min-width: 48em) {
  .testimonial__review .summary {
    height: unset;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  overflow: hidden;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.siteWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1;
  width: 100%;
  padding-top: 6.25rem;
}

section {
  width: 100%;
}

.host-navbar {
  gap: 1.8rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #0f0e17;
  padding: 2rem 1.625rem;
}
.host-navbar a:hover,
.host-navbar a:active {
  color: #0f0e17;
  text-decoration: underline;
  text-underline-offset: 3px;
  border: none;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
