@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #0000ff;
}
*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #0000ff;
  border-radius: 2px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  background-color: #fffffe;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  width: 100%;
}

a {
  width: 100%;
  text-decoration: none;
  border: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.btn--orange {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  backface-visibility: hidden;
  z-index: 1;
}
.btn--orange:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd803;
  border-radius: 5px;
  z-index: -2;
}
.btn--orange:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #cfaf00;
  border-radius: 5px;
  transition: all 0.2s;
  z-index: -1;
}
.btn--orange:hover:before, .btn--orange:active:before {
  width: 100%;
}

.btn--black {
  color: #fffffe;
  background-color: #272343;
}

.btn--filter {
  background-color: #272343;
  padding: 0 0.5rem;
  transition: background-color 0.2s ease;
}
@media screen and (min-width: 47.9375em) {
  .btn--filter {
    padding: 0.25rem 1.5rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .btn--filter {
    padding: 0.5rem 2rem;
  }
}

.btn--van-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
}
@media screen and (min-width: 47.9375em) {
  .btn--van-type {
    padding: 0.25rem 1.5rem;
    margin: 0;
    margin-right: auto;
  }
}

.btn--simple:hover, .btn--simple:active {
  background-color: #94c4f2;
  color: #272343;
}
.btn--simple.selected, .btn--simple-fixed {
  background-color: #94c4f2;
  color: #272343;
}

.btn--rugged:hover, .btn--rugged:active {
  background-color: #a2dcaa;
  color: #272343;
}
.btn--rugged.selected, .btn--rugged-fixed {
  background-color: #a2dcaa;
  color: #272343;
}

.btn--luxury:hover, .btn--luxury:active {
  background-color: #ffee8b;
  color: #272343;
}
.btn--luxury.selected, .btn--luxury-fixed {
  background-color: #ffee8b;
  color: #272343;
}

.btn:disabled {
  background-color: #2d334a;
  cursor: not-allowed;
}
.btn:disabled:after, .btn:disabled:before {
  visibility: hidden;
  opacity: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  word-break: break-word;
}

p {
  color: #2d334a;
}
@media screen and (min-width: 52.9375em) {
  p {
    font-size: 1.1rem;
  }
}

a,
button {
  color: #272343;
}

.heading-primary {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 23.375em) {
  .heading-primary {
    font-size: 2rem;
  }
}
@media screen and (min-width: 89.9375em) {
  .heading-primary {
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 47.9375em) {
  .heading-tertiary {
    font-size: 2rem;
  }
}

.heading-quarternary {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}

.btn--underlined {
  color: #2d334a;
  font-size: 1rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.btn--detail {
  color: #2d334a;
  font-size: 1rem;
}
.btn--detail:hover, .btn--detail:active {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

input,
label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input {
  text-indent: 1rem;
  border: none;
  background-color: #fffffe;
}
input::placeholder {
  color: rgba(45, 51, 74, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.error-heading {
  color: #272343;
  font-size: 2rem;
  text-align: center;
}

.btn-logo {
  color: #272343;
  font-size: 1.25rem;
}

.logo-icon {
  color: #272343;
  font-size: 1.5rem;
}

.menu-icon {
  color: #272343;
  font-size: 1.5rem;
}

.mobile-nav-link div {
  color: #272343;
  font-size: 1.5rem;
}
.mobile-nav-link:hover div, .mobile-nav-link--active div {
  color: #272343;
}

.desktop-nav .mobile-nav-link div {
  font-size: 1.25rem;
}

.login-icon,
.logout-icon {
  color: #272343;
  font-size: 1.5rem;
}

.home .paragraph {
  font-weight: 400;
}

.hero {
  color: #141222;
}

.about {
  color: #272343;
}
.about__info {
  text-align: left;
}
.about__info .paragraph {
  color: #2d334a;
  font-weight: 500;
  line-height: 1.4;
}

.cta .heading-tertiary {
  color: #fffffe;
}

.feature-icon {
  font-size: 3rem;
}

.testimonial__review .summary {
  font-weight: 400;
}
.testimonial__review .customer-name {
  font-size: 1.25rem;
  letter-spacing: 2px;
}
.testimonial .btn--left i,
.testimonial .btn--right i {
  font-size: 2.25rem;
  color: #ffd803;
}

.signup {
  color: #272343;
  background-color: #e3f6f5;
}
.signup__content {
  color: #fffffe;
}
.signup__form input {
  color: #272343;
}

.vans-heading-primary {
  font-size: 2rem;
}
@media screen and (min-width: 47.9375em) {
  .vans-heading-primary {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .vans-heading-primary {
    font-size: 3rem;
  }
  .vans-heading-primary.margin-bottom-s {
    margin-bottom: 3rem;
  }
}

.vans-heading-secondary {
  font-size: 1.1rem;
}
@media screen and (min-width: 47.9375em) {
  .vans-heading-secondary {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .vans-heading-secondary {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .vans-heading-secondary {
    font-size: 2rem;
  }
}
@media screen and (min-width: 89.9375em) {
  .vans-heading-secondary {
    font-size: 2.25rem;
  }
}

.van-tile__link {
  color: #272343;
}
.van-tile__info {
  text-align: center;
}
.van-tile__info .paragraph {
  color: #2d334a;
  font-size: 0.875rem;
}
@media screen and (min-width: 63.9375em) {
  .van-tile__info .paragraph {
    font-size: 1rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .van-tile__info .paragraph {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 89.9375em) {
  .van-tile__info .paragraph {
    font-size: 1.5rem;
  }
}

.btn--filter {
  background-color: #e3f6f5;
}
@media screen and (min-width: 47.9375em) {
  .btn--filter {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .btn--filter {
    font-size: 1.5rem;
  }
}

.btn--van-type {
  text-align: center;
  color: #272343;
}
@media screen and (min-width: 47.9375em) {
  .btn--van-type {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .btn--van-type {
    font-size: 1.5rem;
  }
}

.host-navbar .btn--underlined {
  font-weight: 700;
}

.dashboard-heading-primary,
.income-heading-primary {
  font-size: 2rem;
  line-height: 1.25;
}

.dashboard-heading-secondary,
.income-heading-secondary {
  font-size: 3rem;
}

.icon-star {
  color: #272343;
}

.hostvan-tile .btn--detail {
  text-align: right;
}

.income-heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.redirect-message,
.error-message {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.login .signup-text {
  color: #272343;
  text-align: center;
}
.login .signup-text a {
  color: #2d334a;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer {
  color: #fffffe;
  text-align: center;
}
.footer a,
.footer i {
  color: #fffffe;
}
.footer i {
  font-size: 1.25rem;
}
.footer .site-links--1 div, .footer .site-links--2 div {
  line-height: 2;
}
.footer .site-links--2 {
  font-size: 0.8rem;
}
.footer .site-links a {
  transition: color 0.15s ease;
}
.footer .site-links a:hover,
.footer .site-links a:active {
  color: #ffffcb;
}

.copyright {
  font-size: 0.8rem;
  font-weight: inherit;
  line-height: 1.64;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.app-padding-inline-default {
  padding-inline: 7%;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-bottom-s {
  margin-bottom: 1.5rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-l {
  margin-bottom: 3rem;
}

.margin-bottom-xl {
  margin-bottom: 4rem;
}

.margin-bottom-2xl {
  margin-bottom: 8rem;
}

.padding-block-m {
  padding-block: 2rem;
}

.padding-block-xl {
  padding-block: 4rem;
}

.padding-block-2xl {
  padding-block: 8rem;
}

.center-hori {
  margin: 0 auto;
}

.max-width {
  width: 100%;
  max-width: 80rem;
}

.input--invalid {
  border: 3px solid #ff0000;
}

.error-text {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__info-detail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cta__content {
  background-image: linear-gradient(135deg, rgba(39, 35, 67, 0.7), rgba(39, 35, 67, 0.5)), url("https://source.unsplash.com/5dyRmbOo-UQ");
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 2rem;
}
@media screen and (min-width: 47.9375em) {
  .cta__content {
    padding: 2.5rem 2rem;
  }
  .cta .btn {
    width: 15rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .cta__content {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .cta__content {
    padding: 3.5rem 4rem;
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 8px solid;
  border-color: #272343 transparent #272343 transparent;
  margin-top: 8rem;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.left-arrow-icon {
  margin-right: 0.7rem;
}

.error {
  margin-top: 4rem;
}

.features {
  background-color: #e3f6f5;
}
.features__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
}
@media screen and (min-width: 79.9375em) {
  .features__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: none;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 79.9375em) {
  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem auto;
  }
  .feature__title {
    max-width: 18.75rem;
  }
  .feature__detail {
    margin-top: 1rem;
  }
}

.filter__box {
  display: flex;
  align-items: center;
}
.filter__types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: auto;
}
@media screen and (min-width: 47.9375em) {
  .filter__types {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .filter__box.margin-bottom-l {
    margin-bottom: 4rem;
  }
}

.footer {
  width: 100%;
  background-color: #272343;
  transition: transform 0.15s ease;
  padding-block: 3rem 2rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer .social-links a:hover i,
.footer .social-links a:active i {
  transform: scale(1.1);
}
.footer .site-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer .site-links--1, .footer .site-links--2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 47.9375em) {
  .footer__content {
    text-align: left;
    flex-direction: row;
    align-items: start;
    gap: 0;
    justify-content: space-between;
  }
  .footer__main {
    margin-bottom: 0;
  }
  .footer .social-links {
    justify-content: start;
  }
  .footer__nav {
    margin-bottom: 4rem;
  }
  .footer .site-links {
    text-align: center;
  }
  .footer .site-links--1, .footer .site-links--2 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer .site-links--1 a, .footer .site-links--2 a {
    display: inline-block;
    width: fit-content;
  }
}
@media screen and (min-width: 63.9375em) {
  .footer__content {
    justify-content: start;
    gap: 8rem;
  }
  .footer .site-links--1, .footer .site-links--2 {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 119.9375em) {
  .footer__nav {
    flex: 1;
  }
  .footer .site-links {
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  }
}

.header {
  width: 100%;
  height: 6.25rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #fffffe;
  box-shadow: 0 0.15rem 0.3rem rgba(39, 35, 67, 0.15);
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
}

.mobile-nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
}

.mobile-nav {
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 6.25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(255, 255, 254, 0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-right: none;
  transition: transform 0.2s ease-out;
  backface-visibility: hidden;
  z-index: 1000;
}
.mobile-nav--open {
  transform: translateX(0);
}
.mobile-nav--closed {
  transform: translateX(100%);
}

.mobile-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-nav-link div {
  width: fit-content;
  position: relative;
  padding: 0rem 2rem;
  transition: all 0.15s ease;
}
.mobile-nav-link div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
}
.mobile-nav-link:hover div::after, .mobile-nav-link--active div::after {
  clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  background-color: #ffd803;
  z-index: -1;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.desktop-nav .mobile-nav-link div {
  padding: 0 1rem;
}

.login-icon,
.logout-icon {
  padding: 0 0.5rem;
}

.hero {
  width: 100vw;
  height: calc(100vh - 6.25rem);
  position: relative;
  overflow: hidden;
}
.hero__bg-img {
  object-fit: cover;
  object-position: 30% 50%;
  transform: scale(1.45);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__title {
  max-width: 30rem;
  margin-top: 4rem;
  margin-right: auto;
}
@media screen and (max-width: 23.375em) {
  .hero__bg-img {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 47.9375em) {
  .hero__bg-img {
    object-position: 50% 68%;
    transform: scale(1.25);
  }
  .hero .btn {
    width: 25rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .hero__title {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .hero__title {
    max-width: 40rem;
  }
}

.page-not-found {
  text-align: center;
  margin-top: 4rem;
}
.page-not-found__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-not-found a {
  max-width: 20rem;
}

.signup__content {
  position: relative;
  background-image: linear-gradient(135deg, rgba(39, 35, 67, 0.7), rgba(39, 35, 67, 0.5)), url("https://source.unsplash.com/D7_FyuUfaEo");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 2rem;
}
.signup__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup__form input {
  height: 3rem;
  border-radius: 6px;
}
.signup__form input:focus {
  outline: none;
  border: 3px solid #ffd803;
}
.signup__form-group {
  display: flex;
  flex-direction: column;
}
.signup__form-group label {
  margin-bottom: 0.5rem;
}
.signup__form-group-radio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.signup__form-group-radio label {
  margin-left: 0.5rem;
}
.signup__success {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #272343;
  border-radius: 6px;
  color: #fffffe;
  text-align: center;
  padding: 2rem;
  z-index: 100;
}
.signup__success-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.signup__success-btn i {
  font-size: 1.5rem;
}
@media screen and (min-width: 47.9375em) {
  .signup__content {
    padding: 3.5rem 3rem;
  }
}
@media screen and (min-width: 52.9375em) {
  .signup__content {
    padding: 4rem 3.5rem;
  }
}
@media screen and (min-width: 63.9375em) {
  .signup__content {
    background-color: transparent;
    background-image: linear-gradient(105deg, rgba(39, 35, 67, 0.8) 0 59.9%, rgba(39, 35, 67, 0.3) 60% 100%), url("https://source.unsplash.com/D7_FyuUfaEo");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .signup__form {
    width: 50%;
  }
}

.icon--check {
  font-size: 3rem;
  color: #ffd803;
}

.testimonial__content {
  position: relative;
  z-index: 100;
}
.testimonial__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding: 3rem 1.5rem;
}
.testimonial__item {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 2rem;
}
.testimonial__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.testimonial__review i {
  padding-inline: 5px;
}
.testimonial__review .summary {
  height: 6.25rem;
}
.testimonial__review hr {
  border: 1px solid #ffd803;
}
.testimonial button {
  cursor: pointer;
  transition: transform 0.15s ease;
}
.testimonial .btn--left {
  grid-column: 1/2;
  grid-row: 2/3;
}
.testimonial .btn--right {
  grid-column: 2/3;
  grid-row: 2/3;
}
.testimonial .btn--left:hover,
.testimonial .btn--left:active {
  transform: translateX(-5px);
}
.testimonial .btn--right:hover,
.testimonial .btn--right:active {
  transform: translateX(5px);
}
@media screen and (min-width: 26.5em) {
  .testimonial__text {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    padding: 5rem 1.5rem;
  }
  .testimonial__review .summary {
    margin-bottom: 1rem;
  }
  .testimonial__item {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 0;
  }
  .testimonial .btn--left {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .testimonial .btn--right {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
@media screen and (min-width: 47.9375em) {
  .testimonial__review .summary {
    height: unset;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  overflow: hidden;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.van__detail-container .btn--van-type {
  max-width: 7rem;
  margin: 0;
  margin-right: auto;
}
.van__detail-container .vans-heading-primary {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.van__detail-container .vans-heading-secondary {
  margin-bottom: 1rem;
}
.van__detail-container button {
  max-width: 15rem;
}

.van__detail {
  width: 100%;
}
.van__detail-img {
  width: 100%;
  border-radius: 5px;
  margin-block: 2.5rem 3rem;
  margin-right: auto;
}
.van__detail-type {
  width: 5.375rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  border-radius: var(--border-radius-default);
}
.van__detail-content {
  margin-top: 1.25rem;
}
.van__detail-text {
  margin-bottom: 3rem;
}
@media screen and (min-width: 47.9375em) {
  .van__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-row: 1fr;
    align-items: start;
    column-gap: 2rem;
    margin-top: 2.5rem;
  }
  .van__detail button {
    max-width: unset;
  }
  .van__detail-img-container {
    grid-column: 1/2;
    height: 100%;
    display: flex;
    align-items: start;
    border-radius: 5px;
  }
  .van__detail-img-container img {
    margin: 0;
  }
  .van__detail-content {
    grid-column: 2/3;
    height: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 47.9375em) and (min-width: 52.9375em) {
  .van__detail {
    column-gap: 2.5rem;
  }
  .van__detail button {
    max-width: 15rem;
  }
}
@media screen and (min-width: 47.9375em) and (min-width: 63.9375em) {
  .van__detail {
    grid-template-columns: 1fr 1.5fr;
  }
  .van__detail-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 47.9375em) and (min-width: 79.9375em) {
  .van__detail-text {
    margin-bottom: 3rem;
  }
}

/* .responsiveGrid {
  --min-column-size: 14.375rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
  gap: 2.125rem;
} */
.vans-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 1.25rem;
  row-gap: 2rem;
}
@media screen and (min-width: 47.9375em) {
  .vans-list {
    column-gap: 2.5rem;
    row-gap: 4rem;
  }
}
@media screen and (min-width: 79.9375em) {
  .vans-list {
    column-gap: 4rem;
    row-gap: 6rem;
  }
}

.van-tile {
  width: 100%;
  height: 100%;
}
.van-tile__link {
  width: 100%;
  height: 100%;
}
.van-tile__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  row-gap: 0.625rem;
}
.van-tile__img {
  width: 100%;
  border-radius: 5px;
}
.van-tile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 47.9375em) {
  .van-tile__grid {
    row-gap: 1rem;
  }
  .van-tile__info {
    flex-direction: row;
    justify-content: space-between;
  }
  .van-tile__info .heading-secondary {
    margin-bottom: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 63.9375em) {
  .van-tile__grid {
    row-gap: 1.25rem;
  }
}

.siteWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1;
  width: 100%;
  padding-top: 6.25rem;
}

section {
  width: 100%;
}
@media screen and (min-width: 63.9375em) {
  section .app-padding-inline-default {
    margin-bottom: 4rem;
  }
}

.host-navbar {
  background-color: #fffffe;
  padding-block: 2rem;
}
.host-navbar__flexbox {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}
.host-navbar a:link,
.host-navbar a:visited {
  width: fit-content;
  color: #2d334a;
  text-align: center;
}
.host-navbar a:hover,
.host-navbar a:active {
  text-decoration: underline;
  text-underline-offset: 3px;
  border: none;
}

/* EARNINGS */
.host-dashboard {
  display: flex;
  flex-direction: column;
}
.host-dashboard__earnings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e3f6f5;
  border-radius: 5px;
}
.host-dashboard__earnings-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.5rem;
}
.host-dashboard__earnings-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.host-dashboard__earnings-info p {
  color: #2d334a;
}
.host-dashboard__earnings-info p span {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;
}
.host-dashboard__reviews {
  background-color: #bae8e8;
}
.host-dashboard__reviews-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.5rem;
}
.host-dashboard__reviews .review-score {
  display: flex;
  align-items: center;
}
.host-dashboard__reviews .review-score .icon-star {
  margin-right: 5px;
}
.host-dashboard__vans {
  background-color: #e3f6f5;
}
.host-dashboard__vans-box {
  padding-block: 2.5rem 8rem;
}
.host-dashboard__vans-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.host-dashboard__vans-title .btn--detail {
  width: fit-content;
}

.hostvans-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hostvan-tile {
  background-color: #fffffe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.hostvan-tile__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.hostvan-tile__img img {
  width: 100%;
  border-radius: 5px;
}
.hostvan-tile__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host-income {
  background-color: #e3f6f5;
}
.host-income p {
  color: #2d334a;
}
.host-income p span {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;
}
.host-income img.graph {
  width: 100%;
  max-width: 31.25rem;
  margin-bottom: 4rem;
}
.host-income__flexbox {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.host-income__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.host-income__graph {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fffffe;
  border-radius: 5px;
  padding: 2rem 1rem;
}
.host-income__transactions .transactions-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.host-income__transactions .transactions-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.host-income__transactions .transaction {
  width: 100%;
  background-color: #fffffe;
  border-radius: 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
}

/*
.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  p {
    // color: var(--color-gray-2);

    span {
      text-decoration: underline;
      text-underline-offset: 3px;
      font-weight: 700;
    }
  }

  .income-heading-tertiary {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0.9;
  }

  .transaction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;

    .income-heading-tertiary {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 0.9;
    }

    p {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.6;
      color: var(--color-gray-2);
    }
  }
}
*/
.login {
  background-color: #fffffe;
  margin-top: 4rem;
}
.login__content {
  max-width: 37.5rem;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__form input {
  height: 3rem;
  border: 1px solid #2d334a;
  box-shadow: 0px 1px 2px rgba(39, 35, 67, 0.05);
}
.login__form input:focus {
  outline: none;
}
.login__form input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}
.login__form input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}
.login__form button {
  margin-top: 2rem;
}
@media screen and (min-width: 79.9375em) {
  .login {
    margin-top: 8rem;
  }
}

.vans {
  background-color: #fffffe;
}

/*# sourceMappingURL=main.css.map */
