@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #e53170;
}
*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #e53170;
  border-radius: 2px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  background-color: #fffffe;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

#root {
  width: 100%;
}

a {
  width: 100%;
  text-decoration: none;
  border: none;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.btn--orange {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  backface-visibility: hidden;
  z-index: 1;
}
.btn--orange:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff8906;
  border-radius: 5px;
  z-index: -2;
}
.btn--orange:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d26e00;
  border-radius: 5px;
  transition: all 0.2s;
  z-index: -1;
}
.btn--orange:hover:before, .btn--orange:active:before {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

.heading-primary {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 23.375em) {
  .heading-primary {
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.heading-quarternary {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  color: #fffffe;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}

.btn-logo {
  color: #fffffe;
  font-size: 1.25rem;
}

.logo-icon {
  color: #ff8906;
  font-size: 1.5rem;
}

.menu-icon {
  color: #fffffe;
  font-size: 1.5rem;
}

.mobile-nav-link div {
  color: #fffffe;
  font-size: 1.5rem;
}
.mobile-nav-link:hover div, .mobile-nav-link--active div {
  color: #0f0e17;
}

.desktop-nav .mobile-nav-link div {
  font-size: 1.25rem;
}

.login-icon,
.logout-icon {
  color: #fffffe;
  font-size: 1.5rem;
}

.home .paragraph {
  font-weight: 300;
}

.hero {
  color: #fffffe;
}

.about {
  color: #0f0e17;
}
.about__info {
  text-align: left;
}
.about__info .paragraph {
  color: #2e2f3e;
  font-weight: 500;
  line-height: 1.4;
}

.cta .heading-tertiary {
  color: #fffffe;
}

.feature-icon {
  font-size: 3rem;
}

.footer {
  color: #a7a9be;
  text-align: center;
}

.copyright {
  color: inherit;
  font-size: 0.875rem;
  font-weight: inherit;
  line-height: 1.64;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.app-padding-inline-default {
  padding-inline: 7%;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-bottom-s {
  margin-bottom: 1.5rem;
}

.margin-bottom-m {
  margin-bottom: 2rem;
}

.margin-bottom-l {
  margin-bottom: 3rem;
}

.margin-bottom-xl {
  margin-bottom: 4rem;
}

.margin-bottom-2xl {
  margin-bottom: 8rem;
}

.center-hori {
  margin: 0 auto;
}

.max-width {
  width: 100%;
  max-width: 80rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__img-container {
  width: 100vw;
  height: 30rem;
  overflow: hidden;
}
.about__img {
  width: 100%;
  height: 100%;
}
.about__info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.cta__content {
  background-color: #0f0e17;
  border-radius: 5px;
  padding: 2rem;
}
@media screen and (min-width: 47.9375em) {
  .cta .btn {
    width: 10rem;
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 8px solid;
  border-color: #ff8906 transparent #ff8906 transparent;
  margin-top: 8rem;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.footer {
  width: 100%;
  background-color: #0f0e17;
  padding-block: 1.6rem;
}

.header {
  width: 100%;
  height: 6.25rem;
  position: sticky;
  top: 0;
  background-color: #0f0e17;
  box-shadow: 0 0.15rem 0.3rem rgba(15, 14, 23, 0.15);
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.25rem;
}

.btn-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
}

.mobile-nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
}

.mobile-nav {
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 6.25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(15, 14, 23, 0.8);
  backdrop-filter: blur(6px);
  border-right: none;
  transition: transform 0.2s ease-out;
  backface-visibility: hidden;
  z-index: 1000;
}
.mobile-nav--open {
  transform: translateX(0);
}
.mobile-nav--closed {
  transform: translateX(100%);
}

.mobile-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-nav-link div {
  width: fit-content;
  position: relative;
  padding: 0rem 2rem;
  transition: all 0.15s ease;
}
.mobile-nav-link div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
}
.mobile-nav-link:hover div::after, .mobile-nav-link--active div::after {
  clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  background-color: #ff8906;
  z-index: -1;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.desktop-nav .mobile-nav-link div {
  padding: 0 1rem;
}

.login-icon,
.logout-icon {
  padding: 0 0.5rem;
}

.hero {
  width: 100vw;
  height: calc(100vh - 6.25rem);
  position: relative;
  overflow: hidden;
}
.hero__bg-img {
  object-fit: cover;
  object-position: 30% 50%;
  transform: scale(1.45);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.7);
  z-index: -1;
}
.hero__title {
  max-width: 30rem;
  margin-top: 4rem;
  margin-right: auto;
}
@media screen and (max-width: 23.375em) {
  .hero__bg-img {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 47.9375em) {
  .hero__bg-img {
    object-position: 50% 68%;
    transform: scale(1.25);
  }
  .hero .btn {
    width: 25rem;
  }
}

.siteWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
}

.host-navbar {
  gap: 1.8rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #0f0e17;
  padding: 2rem 1.625rem;
}
.host-navbar a:hover,
.host-navbar a:active {
  color: #0f0e17;
  text-decoration: underline;
  text-underline-offset: 3px;
  border: none;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
