@use "../abstracts/variables" as v;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__img-container {
    width: 100vw;
    height: 30rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
}

.cta {
  &__content {
    background-color: v.$color-black;
    border-radius: 5px;

    padding: 2rem;
  }
}
