@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  &__content {
    // background: v.$color-text-main;
    background-image: linear-gradient(
        135deg,
        rgba(v.$color-text-main, 0.7),
        rgba(v.$color-text-main, 0.5)
      ),
      url("https://source.unsplash.com/5dyRmbOo-UQ");
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;

    border-radius: 5px;

    padding: 2rem;
  }

  @include m.respondMin(v.$laptop) {
    &__content {
      padding: 2.5rem 2rem;
    }

    .btn {
      width: 15rem;
    }
  }

  @include m.respondMin(v.$laptop-m) {
    &__content {
      padding: 3rem 2.5rem;
    }
  }

  @include m.respondMin(v.$laptop-l) {
    &__content {
      padding: 3.5rem 4rem;
    }
  }
}
