@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.filter {
  &__box {
    display: flex;
    align-items: center;
  }

  &__types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    margin-right: auto;
  }

  @include m.respondMin(v.$laptop) {
    &__types {
      gap: 1.5rem;
    }
  }

  @include m.respondMin(v.$laptop-l) {
    &__box {
      &.margin-bottom-l {
        margin-bottom: 4rem;
      }
    }
  }
}
