@use "../abstracts/variables" as v;
.header-wrapper {
  position: relative;
}

.header {
  width: 100%;
  height: 6.25rem;

  // sticky nav
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: v.$color-black;

  padding: 2.25rem 1.625rem;
  z-index: 9999;
}

.btn-logo {
  display: flex;
  align-items: center;

  color: v.$color-white;
  font-size: v.$font-s-s;
}

.logo-icon {
  color: v.$color-primary;
  font-size: v.$font-s-m;
  margin-right: 5px;
}

.mobile-nav-btn {
  cursor: pointer;
}

.menu-icon {
  color: v.$color-white;
  font-size: v.$font-s-m;
}

// mobile navigation
.overlay {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 6.25rem;
  left: 0;

  background-color: transparent;
  z-index: 999;
}

.mobile-nav {
  width: 100%;
  height: 25rem;

  position: absolute;
  top: 6.25rem;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: v.$color-black;
  border: 5px solid v.$color-white;
  border-right: none;

  transition: transform 0.25s linear;
  backface-visibility: hidden;
  z-index: 1000;

  &--open {
    transform: translateX(0);
  }
  &--closed {
    transform: translateX(100%);
  }
}

.mobile-nav-link {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: fit-content;

    position: relative;

    color: v.$color-white;
    font-size: v.$font-s-m;

    padding: 0rem 2rem;

    &::after {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      content: "";
      width: 100%;
    }
  }

  &:hover,
  &--active {
    div {
      color: v.$color-white;
    }

    div::after {
      clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
      background-color: v.$color-primary;
      z-index: -1;
    }
  }
}
