@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  width: 100%;
  height: 6.25rem;

  // sticky nav
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;

  background-color: v.$color-white;
  @include m.box-shadow-1;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
}

.mobile-nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

// mobile navigation
.overlay {
  width: 100%;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  z-index: 999;
}

.mobile-nav {
  width: 100%;
  height: 25rem;

  position: absolute;
  top: 6.25rem;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: rgba(v.$color-white, 0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-right: none;

  transition: transform 0.2s ease-out;
  backface-visibility: hidden;
  z-index: 1000;

  &--open {
    transform: translateX(0);
  }
  &--closed {
    transform: translateX(100%);
  }
}

.mobile-nav-link {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: fit-content;
    position: relative;

    padding: 0rem 2rem;
    transition: all 0.15s ease;

    &::after {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      content: "";
      width: 100%;
    }
  }

  &:hover,
  &--active {
    div::after {
      clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
      background-color: v.$color-primary;
      z-index: -1;
    }
  }
}

// desktop navigation
.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .mobile-nav-link {
    div {
      padding: 0 1rem;
    }
  }
}

.login-icon,
.logout-icon {
  padding: 0 0.5rem;
}
