@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.siteWrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1;
  width: 100%;
  padding-top: 6.25rem;
}

section {
  width: 100%;

  @include m.respondMin(v.$laptop-m) {
    .app-padding-inline-default {
      margin-bottom: 4rem;
    }
  }
}
