@use "../abstracts/variables" as v;

.host-navbar {
  background-color: v.$color-primary;

  padding-block: 2rem;

  &__flexbox {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
  }

  a:link,
  a:visited {
    width: fit-content;
    color: v.$color-text-sub;
    text-align: center;
  }

  a:hover,
  a:active {
    text-decoration: underline;
    text-underline-offset: 3px;
    border: none;
  }
}
